RewriteEngine on
RewriteCond $1 !^(index\.php|assets|uploads|dist|plugins|build|docs|push|OneSignalSDKWorker.js)
RewriteRule ^(.*)$ index.php/$1 [L]



# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?thecrindustries.online
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT
